/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
                // LEFT HALF

                // Row 1
                &kp Q &kp W &kp E &kp R &kp T &kp Y
                // Row 2
                &kp A &kp S &kp D &kp F &kp G &kp H
                // Row 3
                &kp Z &kp X &kp C &kp V &kp B &kp N
                // Row 4 (thumb row – only first 3 exist)
                &kp LCTRL &kp LALT &kp SPACE
                &none &none &none

                // RIGHT HALF

                // Row 1
                &kp U &kp I &kp O &kp P &kp LBKT &kp RBKT
                // Row 2
                &kp J &kp K &kp L &kp SEMI &kp SQT &kp RET
                // Row 3
                &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHIFT &kp ESC
                // Row 4 (thumb row – first 3 exist)
                &kp BSPC &kp DEL &kp ENTER
                &none &none &none
            >;
        };
    };
};